body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: darkslategrey;
}
.grid-container {
    display: inline-grid;
    padding: 25px;
    color: #07cb09;
    column-gap: 130px;
    font-size: 25px;
    margin-top: 5%;
    line-height: 1.6;
}

.first-city {
    grid-column-start: 1;
    grid-column-end: 1;
}

.second-city {
    grid-column-start: 2;
    grid-column-end: 2;
}

.third-city {
    grid-column-start: 3;
    grid-column-end: 3;
}

.btn-reset {
    width: 15%;
    padding: 10px;
    margin: 2% auto 0 40%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2em;
}
.btn-reset:hover {
    transition: all 0.3s;
    box-shadow: 0 6px 15px;
}