<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="column(model)">
    <img th:src="@{${model.iconUrl}}"><br>
    <span>Mesto:   </span>
    <span th:text="${model.city}"></span><br>

    <span>Teplota: </span>
    <span th:text="${model.temperature}+ '&deg;C'"></span><br>

    <span>Obloha: </span>
    <span th:text="${model.sky}"></span><br>

    <span>Dátum a čas: </span>
    <span th:text="${model.time}"></span><br>

    <span>Vietor: </span>
    <span th:text="${model.wind}+'km/h'"></span><br>

    <span>Vychod slnka: </span>
    <span th:text="${model.sunrise} "></span><br>

    <span>Zapad slnka: </span>
    <span th:text="${model.sunset} "></span><br>
    <hr>

    <div th:each="f:${model.forecastViewModels}">
        <span th:text="${f.date}"> </span>
        <span>od: </span>
        <span th:text="${f.minTemp}"></span>
        <span>do: </span>
        <span th:text="${f.maxTemp}"></span>
    </div>

</div>
</body>
</html>