<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pocasie</title>
    <!--    <link rel="stylesheet" href="../static/css/style.css">-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<a th:href="@{/}">
    <button type="submit" class="btn-reset">REFRESH</button>
</a>
<div style="text-align: center;">
    <div class="grid-container">


        <div class="first-city">
            <div th:replace="fragments.html::column(model=${models[0]})"></div>
        </div>


        <div class="second-city">
            <div th:replace="fragments.html::column(model=${models[1]})"></div>
        </div>


        <div class="third-city">
            <div th:replace="fragments.html::column(model=${models[2]})"></div>
        </div>


    </div>
</div>
</body>
</html>